@font-face {
    font-family: 'LantingfounderBlod';
    src: url('LantingfounderBlod.TTF') format('truetype');
}

@font-face {
    font-family: 'Lantingfounder';
    src: url('Lantingfounder.TTF') format('truetype');
}